<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.D__C__BAITAP_QLTV_QLTV_QUANLYTHUVIEN_MDFConnectionString"
            connectionString="Data Source=./;Initial Catalog=D:\C#\BAITAP\QLTV\QLTV\QUANLYTHUVIEN.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>